nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #127957;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px ;
  padding: 2px;
  transition: color 0.3s ease;
  font-weight: bold;
}

nav a:hover {
  color: #ffa621;
}

nav button {
  background-color: #127957;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

nav button:hover {
  background-color: #ffa621;
}
