<div class="container">
  <h2>Effectuer un paiement</h2>
  <div class="donation-form">
    <img src="assets/images/alcs.png" alt="ALCS Logo">
    <div class="form-group">
      <label for="donorName">Nom et Prénom du donateur</label>
      <input type="text" id="donorName" placeholder="Nom et Prénom du donateur">
    </div>
    <div class="form-group">
      <label for="donAmount">Montant du don (DH)</label>
      <input type="text" id="donAmount" placeholder="Montant du don (DH)">
    </div>
    <div class="form-buttons">
      <button class="btn cancel"><strong>Annuler</strong><span class="check-symbol">&#10007;</span> </button>
      <button class="btn validate"><strong>Valider</strong><span class="check-symbol">&#10003;</span> </button>
    </div>
  </div>
</div>
